<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font's -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <!-- Font's Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- mystyle -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <div id="background_green"></div>

    <div id="window_container">
        <!-- contats -->
        <div id="side_bar">

            <!-- personal profile -->
            <section id="personal_profile">

                <img :src="avatar" alt="">

                <h3 class="name_contacts">{{mainUserName}}</h3>
                
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            
            </section>

            <!-- active notification -->
            <section id="active_notification">

                <div class="icon">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
                             
            </section>

            <!-- search contat's chats -->
                
            <div id="search_contats_chat">
                <div id="my_search_input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Cerca o inzia una nuova Chat">
                </div>
                    
            </div>
            
            <!-- contat's chats -->
            <div id="contacts">
                <div id="conctat" v-for="(conctat, idx) in contacts" @click="changeChat(idx)">
                    <img :src="conctat.avatar" alt="">
                    <div class="name_contacts">
                        <h4>{{conctat.name}}</h4>
                        <small class="text_gray">Ultimo messaggio inviato...</small>
                    </div>
                    <div class="time">12:00</div>
                </div>
            </div>
            
        </div>

        <!-- MAIN personal chat -->
    
        <main v-for="(contact, idx) in contacts" :class="( activeChat === idx ) ? 'active':'hidden'">
            <section id="profil_contat_chat">
        
                <img :src="contact.avatar" alt="">
                <div class="name_contacts">
                    <h3>{{contact.name}}</h3>
                    <div class="text_gray">
                        ultimo accesso
                        <!-- trovare un modo per visualizzare la data dell'ultimo messaggio -->
                        <div class="time">{{contact.messages[0].date}}</div>
                    </div>
                </div>
                
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            
            </section>

            <section id="chat">
                
                <!--  v-for="(message, idx) in contact.messages" -->
                <!-- Box message -->
                <div  v-for="(message, idx) in contact.messages" :class="(message.status === 'sent') ? 'message sent': 'message received'">
                    <p class="text_message">{{message.message}}</p>
                    <div class="time">{{message.date}}</div>
                </div>

                <!-- Box message sent -->
                <!-- <div class="message received">
                    <p class="text_message">ciao! questo è un massaggio lungo Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime magni accusamus placeat doloribus commodi alias similique, nam ut modi excepturi, veritatis quam iusto praesentium sint eos. Nemo voluptates corrupti ullam?</p>
                    <div class="time">12:00</div>
                </div> -->
            </section>

            <!-- section write a message -->
            <section id="input_message_chat">
                
                <i class="fa-regular fa-face-smile"></i>
                
                <input type="text" placeholder="Scrivi un messaggio">
                
                <i class="fa-solid fa-microphone"></i>
                
            </section>
        </main>
    
        
    </div>
    <!-- VueScript -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- myscript -->
    <script src="js/main.js"></script>
</body>
</html>